<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/estimator.css' />
  </head>
  <body class="vert-features">
    <div class="header">
      <div style="flex: 1;">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      <div id="cart" style="flex: 1;">
        <p>4</p>
      </div>
    </div>
    
    <div class="main">
      <!-- 
        FILE IMPORT
       -->
      <div class="main-panel">
        <div class="panel-header">
          <h1>Imported Files</h1>
        </div>

        <div class="panel-content">
          <form id="import-form" action="./upload" method="post" enctype="multipart/form-data">
            <input id="file-submission" type="file" accept=".stl" name="stl-file" style="display: none;" />
            <input id="stl-import" type="button" value="Import STL" />

            <div id="stls">
              <!-- <div class="stl">
                <input id="stl-1" type="button" value="STL 1" />
              </div>
    
              <div class="stl">
                <input id="stl-2" type="button" value="STL 2" />
              </div>
    
              <div class="stl">
                <input id="stl-3" type="button" value="STL 3" />
              </div> -->
            </div>

            <!-- <p>Display all files that were uploaded during current session</p>
            <p>Possibly limit them so there is a max of 10?</p>
            <p>Should the configuration of each upload be stored/cached?</p> -->

            <input id="proceed" type="button" value="Proceed" />
          </form>
        </div>
      </div>

      <!-- 
        MODEL PREVIEW
       -->
      <div class="main-panel">
        <div class="panel-header">
          <h1>Model Preview</h1>
        </div>

        <div id="preview"></div>
      </div>
      
      <!-- 
        CONFIGURATION
       -->
      <div class="main-panel" id="configure">
        <div class="panel-header">
          <h1>Configuration</h1>
        </div>

        <div class="panel-content">
          <form>
            <div class="config-input">
              <label for="material">Material:</label><br/>
              <select id="material" name="material">
                <option hidden disabled selected value> -- select an option -- </option>
                <option value="pla">PLA</option>
                <option value="petg">PETG</option>
                <option value="abs">ABS</option>
                <option value="tpu">TPU</option>
              </select>
            </div>

            <div class="config-input">
              <label for="colour">Colour:</label><br/>
              <select id="colour" name="colour">
                <option hidden disabled selected value> -- select an option -- </option>
                <option value="black">Black</option>
                <option value="grey">Grey</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
              </select>
            </div>

            <div class="config-input">
              <p>Printer:</p>
              <input type="radio" id="x1c" name="printer" value="x1c" checked />
              <label for="x1c">Bambu Lab X1C</label>
              <br/>
              <input type="radio" id="e3p" name="printer" value="e3p" />
              <label for="e3p">Creality Ender-3 Pro</label>
              <br/>
              <input type="radio" id="e2p" name="printer" value="e2p" />
              <label for="e2p">Creality Ender-2 Pro</label>
            </div>

            <div class="config-input">
              <label for="infill">Infill (%):</label><br/>
              <input type="number" value="15" min="10" max="100" step="1" id="infill" name="infill" />
            </div>

            <div id="add-to-cart">
              <input type="number" value="1" min="0" max="1000" step="1" id="num-items" name="num-items" />
              <input id="config-submit" type="button" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "/modules/three/build/three.module.js",
          "three/examples/jsm/controls/OrbitControls": "/modules/three/examples/jsm/controls/OrbitControls.js",
          "three/examples/jsm/loaders/STLLoader": "/modules/three/examples/jsm/loaders/STLLoader.js",
          "three/addons/": "/modules/three/examples/jsm/"
        }
      }
    </script>

    <script type="module" src="/javascripts/estimator.js"></script>
    <script type="module" src="/javascripts/three-preview.js"></script>
  </body>
</html>
