<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/estimator.css" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="vert-features">

    <div id="modal">
      <div id="modal-content">
        <span id="modal-close">&times;</span>
        <p id="modal-text">Test text</p>
      </div>
    </div>

    <div class="header">
      <div class="header-text">
        <h3><%= title %></h3>
        <p>Welcome to <%= title %></p>
      </div>
      <div class="header-cart">
        <p id="cart-count">0</p>
        <a href="/cart">Go to cart</a>
      </div>
    </div>

    <div class="main">
      <!--
        FILE IMPORT
       -->
      <div class="main-panel">
        <div class="panel-header">
          <h3>Imported Files</h3>
        </div>

        <div class="panel-content">
          <form id="import-form" action="./upload" method="post" enctype="multipart/form-data">
            <input id="file-submission" type="file" accept=".stl" name="stl-file" style="display: none;" />
            <input id="stl-import" type="button" value="Import STL" />

            <div id="stls">
              <!--              <div class="stl"> -->
              <!--                <input id="stl-#" type="button" value="STL #" /> -->
              <!--              </div> -->
            </div>

            <!-- <p>Display all files that were uploaded during current session</p>
            <p>Possibly limit them so there is a max of 10?</p>
            <p>Should the configuration of each upload be stored/cached?</p> -->

            <input id="proceed" type="button" value="Proceed" />
          </form>
        </div>
      </div>

      <!-- 
        MODEL PREVIEW
       -->
      <div class="main-panel">
        <div class="panel-header">
          <h3>Model Preview</h3>
        </div>

        <div id="preview"></div>
      </div>

      <!-- 
        CONFIGURATION
       -->
      <div class="main-panel" id="configure">
        <div class="panel-header">
          <h3>Configuration</h3>
        </div>

        <div class="panel-content">
          <form id="config-form">
            <div class="config-input">
              <label for="material">Material:</label><br/>
              <select id="material" name="material">
                <option hidden disabled selected value=""> -- select an option -- </option>
              </select>
            </div>

            <div class="config-input" id="colour-input" hidden>
              <label for="colour">Colour:</label><br/>
              <select id="colour" name="colour">
                <option hidden disabled selected value=""> -- select an option -- </option>
              </select>
            </div>

            <div class="config-input">
              <label for="infill">Infill (%):</label><br/>
              <input type="number" value="15" min="10" max="100" step="1" id="infill" name="infill" />
            </div>

            <div id="add-to-cart">
              <input type="number" value="1" min="1" max="1000" step="1" id="quantity" name="quantity" />
              <input id="config-submit" type="button" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "/modules/three/build/three.module.js",
          "three/examples/jsm/controls/OrbitControls": "/modules/three/examples/jsm/controls/OrbitControls.js",
          "three/examples/jsm/loaders/STLLoader": "/modules/three/examples/jsm/loaders/STLLoader.js",
          "three/examples/jsm/capabilities/WebGL": "/modules/three/examples/jsm/capabilities/WebGL.js"
        }
      }
    </script>

    <script type="module" src="/scripts/built/estimator.js"></script>
    <script type="module" src="/scripts/built/three-preview.js"></script>
  </body>
</html>
